{erl_opts, [debug_info, {i, "_build/default/lib/gpb/include"}]}.
{deps, [
    {erlcloud, {git, "https://github.com/erlcloud/erlcloud.git", {branch, "master"}}},
    {gpb, "4.19.9"}
]}.
{plugins, [
    {rebar3_gpb_plugin, "2.22.0"}
]}.
{gpb_opts, [
    {i, "priv"},
    {o_erl, "src"},
    {module_name_suffix, "_pb"},
    {verify, always},
    {strings_as_binaries, true}
]}.
{relx, [
    {release, {kvstore, "0.1.0"},
     [
      kvstore,
      erlcloud,
      gpb
     ]},
    {sys_config, "priv/kvstore.config"},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true}
]}.